
.main-section__title{
    color: var(--btn-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width:767px) {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    }

    

    @media screen and (min-width:1200px) {
    width: 696px;
    @include font(900, 44px, 1.36);
    }
    
    
}

.main-section{
    height: 400px;
    background-color: black;
    @extend %align;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/mobile/hero.jpg);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/mobile/hero@2x.jpg');
        }
    @media screen and (min-width: 767px) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/tablet/hero.jpg);

        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url('../images/tablet/hero@2x.jpg');
    
        }}
    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../images/main-bg.jpg);
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url('../images/main-bg@2.jpg');
            }}


.main-section__button{
    color: var(--btn-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
    letter-spacing: 0.06em;
    font-family: inherit;

    @include font(700, 16px, 1.87);
    @extend %align;
    

    
    
    min-width: 216px;
    height: 50px;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    padding: 10px;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--order-btn-active);
    
        }
}}
