.section-title,
.employee__name,
.advantages-list__title,
.work-type__name {
    color: #212121;
}

.advantages-list__icon {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-color-secondary);
    border-radius: 4px;
    
    @extend %align;
}

.advantages-list {
    width: 100%;
    @extend %list;

    @media screen and (min-width:1200px) {
        display: flex;
    }
    @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            gap:30px ;
                }

    
}
.advantages-list__title {
    @media screen and (max-width:767px) {
    text-align: center;
    }


    @media screen and (min-width:1200px) {
    margin-top: 0;
    margin-bottom: 10px;

    @include font(700, 14px, 1.14);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;

    }
}
.advantages-list__text {
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 0;

    font-size: 14px;
    line-height: 1.71;
}

.advantages-list__item {
    @media screen and (max-width:767px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width:768px) {
    width: 354px;
    
}
    @media screen and (min-width:1200px) {
        width: 270px;
    }
}
/* .icon-item{
    width: 100%;
    height: 100%;
} */

/* .advantages .flex-element::before{
    display: inline-flex;
    content: '';
    width: 270px;
    height:120px ;
    background-color: var(--background-color-secondary);
    border-radius: 4px;

    margin-bottom: 30px;
} */
/* .icon-antenna::before{
    background-image: url(../images/antenna.svg);
    background-repeat: no-repeat;
    background-position:center;
}
.icon-clock::before {
    background-image: url(../images/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.icon-diagram::before {
    background-image: url(../images/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
} */