.page-footer {

    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    background-color: #2F303A;
    @media screen and (max-width:767px) {
        text-align: center;
    }
}
@media screen and (min-width:1200px) {
    .container--position {
    display: flex;
    gap: 92px;
    align-items: baseline;
}
}
.tablet-footer{
    display: flex;
    gap: 60px;
}
@media screen and (min-width:768px) and (max-width:1199px) {
    .tablet-footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
}
@media screen and (min-width:1200px) {
    .tablet-footer {
        justify-content: flex-start;
        gap: 70px;
    }
}
.footer-logo {
    @media screen and (mim-width:1200px) {
        display: flex;
    } 
    display: block;
    font-family: 'Raleway',sans-serif;
    font-style: normal;


    @include font(700, 26px, 1.19);

    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: 0;


    color: var(--btn-text-color);
}

.footer-logo--white {
    color: var(--accent-text-color);
}

.address-list {
    font-style: normal;
    @media screen and (max-width:1199px) {
        margin-bottom: 60px;
    }

}

.location {
    color: var(--btn-text-color);

    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    font-style: normal;
}

.address-list__item {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    line-height: 1.71;
    font-style: normal;

    &:not(:last-child){margin-bottom: 8px;}
    

    @media screen and (min-width:1200px) {
                &:not(:first-child) {
            margin-top: 9px;
        }
        }

}

.address-list__link {
    color: inherit;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.address-list {
    @extend %list;
}
@media screen and (max-width:768px) {
            .social-list{
                margin-bottom: 60px;
            }
        }
.join-title {
    font-style: normal;
    @media screen and (max-width:1199px) {
                text-align: center;
            }
        

    @include font(700, 14px, 1.14);

    text-transform: uppercase;

    color: var(--btn-text-color);

    margin: 0;
    margin-bottom: 20px;
}

.social-list__link--bg {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
@media screen and (min-width:1200px) {
        .subscribe-form {
                margin-left: auto;
            }
        }
.subscribe-form--accent{
    @media screen and (max-width:1199px) {
        width: 100%;
    }
}

.subscribe-form__input {
    display: inline-block;
    background-color: #2F303A;
        @media screen and (min-width:1200px) {
                width: 358px;
            }
    @media screen and (max-width:1200px) {
            display: block;
            justify-content: center;
        }
    width: 100%;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    margin-bottom: 20px;
}
.subscribe-form__label{
    @media screen and (max-width:1199px) {
        display: block;
    }
}
input[placeholder="E-mail"] {
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

}
@media screen and (max-width:1199px) {
        .subscribe-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 450px;
            margin: 0 auto
        }
}
.subscribe-form__button {
    @extend %align;
    gap: 10px;

    min-width: 200px;
    height: 50px;

    @include font(700, 16px, 1.88);

    letter-spacing: 0.06em;

    color: var(--btn-text-color);
    background-color: var(--accent-text-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @media screen and (min-width:1200px) {
        margin-left: 12px;
    }
    margin: 0 auto;
    padding: 10px 28px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--order-btn-active);
        }

    @media screen and (max-width:767px) {
        margin-left: auto;
        margin-right: auto;
        }
}

