.page-header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);

    @media screen and (max-width:767px) {
        position: relative;
        }
}
    @media screen and (min-width:1200px) {
        .container--header--display {
        display: flex;
        justify-content: space-between;
    }
        }


.navigation {
    @media screen and (max-width:767px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
                }
    @media screen and (min-width:1200px) {
        display: flex;
        }

}

.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (max-width:767px) {
        @include font(700, 24px, 1.16);
        }

    @media screen and (max-width:1199px) {
        @include font(700, 24px, 1.16);
        padding-top: 26px ;
        padding-bottom: 26px;
        } 
    @media screen and (min-width:1200px) {
        padding: 25px 0;
        @include font(700, 26px, 1.19);
    }
        &:hover,
        &:focus{
                    color: var(--accent-text-color);
                    fill: var(--accent-text-color);
                }
}

.logo--blue,
.site-nav__link--hovered:hover,
.site-nav__link--hovered:focus,
.contacts__link--hovered:hover,
.contacts__link--hovered:focus,
.address-list__link:hover,
.address-list__link:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
}

.site-nav,
.contacts {
    @media screen and (max-width:767px) {
        display: none;
    }
    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: center;
        
    }
    @media screen and (max-width:1199px) {
        gap: 50px;
    }
    display: flex;
    @extend %list;
}
@media screen and (min-width:768px) {
    .site-nav__link{
        padding-top: 26px;
        padding-bottom: 26px;
    }
}
@media screen and (min-width:768px)  {
    .site-nav__item {
        @media screen and (min-width:1200px) {
            position: relative;

            &:not(:first-child) {
                margin-left: 50px;
            }
        }
            
    
        }
    @media screen and (min-width:1200px) {
                .site-nav__link--blue {
            color: var(--accent-text-color);
    
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                bottom: 0;
    
                background: #2196F3;
                border-radius: 2px;
            }
        }
    }    
    .site-nav__link.site-nav__link--blue {
        color: var(--accent-text-color);
        &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -8px;
        left: 0;
    
        background: #2196F3;
        border-radius: 2px;
            }
        }
        .site-nav .site-nav__link,
        .contacts .contacts__link {
            text-decoration: none;
            @media screen and (min-width:1200px) {
                display: flex;
            align-items: center;
            }
            fill: currentColor;
            position: relative;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .contacts__link {
            gap: 7px;
        }
        .site-nav,
        .contacts {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            margin-left: 87px;

            @media screen and (min-width:1200px) {
                margin-left: 93px;
            }
        }
        @media screen and (max-width:1199px) {
            .contacts{
                margin-left: auto;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .site-nav__link {
            color: var(--secondary-text-color);
        }
    // @media screen and (min-width:1200px) {
    //     .contacts__link,
    //     .site-nav__link {
    //         padding: 32px 0;
    //     }
    // }
    @media screen and (min-width:1200px) {
        .contacts__item:not(:first-child) {
                margin-left: 30px;
            }
    }
    @media screen and (min-width:1200px) {
        .contacts {
                margin-left: 315px;
            }
    }
    
        .contacts__link {
            color: var(--primary-text-color);
        }
@media screen and (min-width: 768px) {
    .tablet-header {
            display: flex;
            align-items: center;
        }
}
}
@media screen and (max-width:767px) {
    .tablet-header{
        position: relative;
    }
}
