
.work-list {
    @media screen and (min-width:768px) and (max-width:1199px) {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
    }
    @media screen and (min-width:1200px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--card-set-gap));
        margin-left: calc(-1 * var(--card-set-gap));
    }

    @extend %list;
}

.overlay {
    position: relative;
    overflow: hidden;
}

.work-list__text {
    position: absolute;
    bottom: 0;

    @include font(400, 18px, 1.56);

    color: var(--btn-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    margin: 0;
    padding: 63px 24px;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .work-list__link:hover &,
    .work-list__link:focus & {
            transform: translateY(0);
        }
}



.work-list__item {
    @media screen and (min-width:768px) {
        width: calc(50% - 15px);
    }
    
    @media screen and (min-width:1200px) {
            width: calc((100% - 90px) / 3);
            margin-top: var(--card-set-gap);
            margin-left: var(--card-set-gap);
    }
}



.work-list__link {
    height: 100%;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }


}
.work-type__name {
    @include font(700, 18px, 2);

    letter-spacing: 0.06em;

    margin-bottom: 4px;
    margin-top: 0;
}
.work-type__name--spacing {
    letter-spacing: 0.03em;
}
.block {
    display: block;
}

.work-type {
    flex: 1;
    padding: 20px 20px;
    border-right-color: rgb(238, 238, 238);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(238, 238, 238);
    border-left-style: solid;
    border-left-width: 1px;
}

.work-type__type {
    font-size: 16px;
    line-height: 1.87;
    margin: 0;
}
/* .work-list .flex-element:nth-child(3n){
    margin-right: 0;
}
.work-list .flex-element:nth-last-child(-n + 3){
    margin-bottom: 0;
} */