.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width:767px) {
        overflow-y: scroll ;
        padding: 15px;
    }
    @media screen and (max-height:660px) {
        display: block;
        overflow-y: scroll;
    }
}

.modal-window {
    @media screen and (max-width:767px) {
        width: 450px;
    }
    position: relative;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    background-color: var(--btn-text-color);
    border-radius: 4px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-window__button {
    position: absolute;
    top: 8px;
    right: 8px;

    @extend %align;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--btn-text-color);
    border-radius: 50%;
    cursor: pointer;
    fill: #000000;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__button:hover,
.modal-window__button:focus {
    fill: var(--accent-text-color);

}
.feedback {
    @media screen and (min-width:1200px) {
        width: 528px;
    }
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__title {
    @include font(700, 20px, 1.15);
    
    text-align: center;

    color: var(--secondary-text-color);
    margin: 0;
    margin-bottom: 12px;
}

.feedback__field {
    position: relative;
}

.feedback__label {
    width: 100%;
@media screen and (min-width:1200px) {
    
}
    display: flex;
    flex-direction: column;
    gap: 4px;


    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    margin-bottom: 10px;
}

.feedback__label:hover,
.feedback__label:focus-within {
    fill: var(--order-btn-active);
    cursor: pointer;
}

textarea {
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    padding: 12px 16px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover,
textarea:focus {
    border: 1px solid var(--order-btn-active);
    cursor: pointer;
}

.feedback__comment {
    margin-bottom: 20px;
}

.feedback__input {
        @media screen and (min-width:1200px) {
            width: 448px;
            }
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0;
    padding-left: 42px;
    padding-right: 12px;
    outline: none;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback input:hover,
.feedback input:focus {
    border: 1px solid #188CE8;
    cursor: pointer;
}

.feedback__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.feedback__agreement {

    position: relative;
    @media screen and (min-width:1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin-bottom: 30px;

    }
    display: flex;
    gap: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    padding-left: 30px;

    color: var(--primary-text-color);

}

.feedback__agreement--link {
    color: var(--accent-text-color);
    cursor: pointer;
}

.feedback__button {
    @media screen and (min-width:1200px) {
        min-width: 200px;
    }
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--btn-text-color);
    background-color: var(--accent-text-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    padding: 10px 52px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__button:hover,
.feedback__button:focus {
    background-color: var(--order-btn-active);

}

.checkbox__icon {
    position: absolute;
    top: 4px;
    left: 0;
    @media screen and (min-width:1200px) {
        left: 17px;
    }
    cursor: pointer;
}

.feedback__checkbox:checked~.icon-checked {
    opacity: 1;
}

.icon-checked {
    position: absolute;
    top: 4px;
    @media screen and (min-width:1200px) {
            left: 17px;
    }
    left: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
